* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    text-decoration: none;
    line-height: 1.5rem;
}

.fa-phone,
.fa-envelope,
.fa-home,
.fa-check {
    padding: 0.3rem;
}

ul {
    padding-inline-start: 40px;
    list-style: none;
}

a {
    color: #457b9d;
}

h4 {
    padding: 0.3rem;
    margin: 0.5rem 0;
}

a:hover {
    color: #1d3557;
}

.header-text {
    text-align: center;
    background-color: #457b9d;
    max-height: 10vh;
    padding: 1rem;
    margin: 1rem;
}

.header-about .img-container {
    margin-bottom: 1rem;
}

.about p {
    padding: 0.3rem;
}

.header-about .img-container img {
    border-radius: 50%;
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

.header-about {
    margin: 1rem;
}

.grid-container .education h3,
.work-experience h3,
.contact h3,
.references h3 {
    border: solid 0.3rem #457b9d;
    padding: 0.3rem;
    margin: 0.5rem 0;
}

.grid-container .education,
.contact,
.work-experience,
.references {
    margin: 1rem;
}

.grid-container .education p,
a,
.work-experience p,
a,
.contact p,
a,
.references p,
a {
    padding: 0.3rem;
}

@media only screen and (min-width: 768px) {
    body {
        display: grid;
        height: 100vh;
        place-items: center center;
        background-color: #e5e5e5;
    }
    .container {
        max-width: 720px;
        margin: 0 auto;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
        padding: 5rem 2rem;
        background-color: #e9ecef;
    }
    /* .header-about .img-container {
        max-width: 20%;
    } */

    .header-about .img-container img {
        max-width: 100%;
    }
    .header-about {
        display: flex;
        align-items: center;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
