*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;

}

html{
    background-color: #e3e3e3;
}

body{
    background-color: white;
    max-width: 720px;
    margin: 15px auto;
    padding: 15px;
}

h1{
    margin-bottom: 15px;
    background-color: #92A8D1;
    height: 100px;
    text-align: center;
    padding-top: 30px; 
}

h2{
    font-size: 1.2em;
}

p{
    line-height: 1.3em;
    font-size: 1.1em;
    margin-bottom: 0.4em;
    margin-top: 0.8em;
}

img{
    max-width: 100%;
    border-radius: 50%;
    margin-top: 40px;
}

ul, ol{
    padding-inline-start: 40px;
    list-style: none;
    margin-top: 10px;
}
li{
    line-height: 1.5;
    font-size: 1em;
}

#container{
    overflow: auto;
}
#container2{
    overflow: auto;
    margin-top: 40px;
}

#image-container{
    width: 20%;
    float: left;
}

#text-container{
    margin-top: 30px;
    width: 80%;
    float: left;
    padding: 0 10px;

}
#contact-container{
    width: 30%;
    float: left;
}

#work-container{
    width: 70%;
    float: left;
    padding-left: 10px;
}

#referens-container{
    float: left;
    width: 30%;
}

#education-container{
    width: 70%;
    float: left;
    padding: 10px;
    margin-top: 20px;
}

.contact-link{
    color: red;
    text-decoration: none;
}

h2{
    border: solid 3px;
    border-color: #92A8D1;
    padding: 4px;
}

h3{
    margin-top: 10px;
}

footer{
    background-color: #92A8D1;
    height: 40px;

}

a{
    color: #92A8D1;
}

.link:hover{
    color:#ffa500;
}


  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body{
        max-width: 100%;
    }

    #contact-container{
        width: 100%;
        float: none;
    }
    
    #work-container{
        width: 100%;
        float: none;
        padding-left: 0px;
    }
    
    #referens-container{
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    
    #education-container{
        width: 100%;
        float: none;
        padding: 0px;
        margin-top: 20px;
    }


  }